*{
    font-family:  Arial, sans-serif;
}

.property-heading{
    color: rgb(75, 3, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}

.details-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 25px;
  padding:20px;
  margin-top: 10px;
}

.drop-down-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.user-lable{
    font-family:  Arial, sans-serif;
    font-size:18px;
    font-weight:bold;
    margin-bottom: 10px;
}

.input-field{
    height: 30px;
    width: 300px;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    font-size:20px;
}

.dropdown-item{
    font-family: Arial, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-bottom: 20px;
}

.choose-apartment{
    height: 35px;
    width: 320px;
    font-size:20px;
    font-family: Arial, sans-serif;
    padding-left: 10px;
}

.container-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.property-post-btn{
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    width: 350px;
    background-color: rgb(75, 3, 75);
    color: white;
    margin: 15px;
    border-width: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

.select-btn{
    height: 40px;
    width: 70px;
    background-color: rgb(211, 207, 207);
    border-radius: 5px;
    border-width: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    margin: 30px;
    cursor: pointer;
}

.btn-box{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(75, 3, 75);
    padding: 10px;
    width: 370px;
    
}

.radio-inputs-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radio-input-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.user-radio-input{
    height: 20px;
    width: 20px;
    cursor: pointer;
}